<h1>Stops</h1>

  <% @stops.each do |stop| %>
   <h4><%= link_to "#{stop.station.name}", station_path(stop.station.id) %> |
       <%= link_to "#{stop.line.name}", line_path(stop.line.id) %></h4>
  <% end %>




